#first {
    float:left; 
    width:45%;
    font-family:Helvetica;
    margin: 0 2.5%;
}
h2.inc-first { 
    color:#880000;
}
p.inc-first {
    color:#880000;
}
#first img {
    width:100%;
    border: 1px solid #880000;
    overflow:hidden;
}